
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Inter:wght@400;600;900&display=swap');

body, h1, p, h2 {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #161616;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

.header {
    border-bottom: solid 1px #9c9c9c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.add-book {
    inline-size: fit-content;
    font: inherit;
    font-size: 16px;
    background-color:navy;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 12px 24px;
}

.cards {
    display: grid;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 1px solid #9c9c9c;
    background-color: #fff;
    padding: 24px;
    border-radius: 4px;
}

.read {
    font: inherit;
    font-size: 16px;
    background-color:#e00b0b;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 12px 24px;
}

.remove {
    font: inherit;
    font-size: 16px;
    background-color:#fff;
    color: #e00b0b;
    border-radius: 4px;
    border: solid 1px #e00b0b;
    padding: 12px 24px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16px;
    padding-top: 16px;
    inline-size: 100%;
}

.book-modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    padding: 8px;
}

#modal-submit {
    width: 100%;
    font: inherit;
    font-size: 16px;
    background-color:navy;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 12px 24px;
    width: 312px;
}

#add-book-modal {
    border: 1px solid #9c9c9c;
    border-radius: 4px;
}

.form-read {
    align-self: center;
}

#form-close {
    background: transparent;
    border: none;
    align-self: end;
}

.books {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 24px;
}

.book-info {
    overflow: hidden;
}